/paper.tex~
/paper.aux
/paper.bbl
/paper.blg
/paper.log
/paper.mm
/paper.out
/auto/paper.el
/sigchi-latex-proceedings/._SIGCHI-Reference-Format.bst
/sigchi-latex-proceedings/._proceedings.tex
/sigchi-latex-proceedings/._sample.bib
/sigchi-latex-proceedings/._sigchi.cls
/sigchi-latex-proceedings/LaTeX SIGCHI Proceedings Format.pdf
/sigchi-latex-proceedings/SIGCHI-Reference-Format.bst
/sigchi-latex-proceedings/figures/._map.png
/sigchi-latex-proceedings/figures/._sigchi-logo.png
/sigchi-latex-proceedings/figures/map.png
/sigchi-latex-proceedings/figures/sigchi-logo.png
/sigchi-latex-proceedings/proceedings.tex
/sigchi-latex-proceedings/sample.bib
/sigchi-latex-proceedings/sigchi.cls
/sigchi-latex-proceedings/._LaTeX SIGCHI Proceedings Format.pdf
